script
  $(document).ready(function() {
    $( ".accordion" ).accordion();
    $( ".draggable" ).draggable({
      helper: "clone",
      cursor: "move"
    });
  });
#days
  - each day in days
    h3= day.name
      .accordion
        - each time in day.times
          p #{time.startTime} to #{time.endTime}
          div
            - each m3class in time.classes
              .draggable.ui-widget-content.aclass
                a(href="#", value="#{m3class.className}") #{m3class.className}

